@import '../common-style';

.header {
	display: flex;
	justify-content: center;
	@include box-shadow;

	&-container {
		width: $width;
		height: 3.5rem;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.title {
			font-size: 1.5rem;
			cursor: pointer;
		}

		.dark-mode-btn {
			padding-top: 0.3rem;
			font-weight: 600;
			cursor: pointer;
			user-select: none;
		}
	}
}

@media screen and (max-width: $width-mobile) {
	.title{
		font-size: 1rem;
	}
}